@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 20, 20, 20;
}

body {
    color: rgb(var(--foreground-rgb));
    background: transparent;
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .animate-fade-in {
        animation: fadeIn 0.8s ease-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}